@import '../../scss/basic/variables';


.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 16px;
  list-style: none;

  &__item {
    font-size: 14px;

    & + &:before {
      padding: 8px;
      content: "/";
    }
  }

  &__link {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}