@import '../../scss/basic/variables';

.hero {
  padding: 10px;
  background: $primary-color;
  background: linear-gradient(45deg, rgba($primary-color, 0.9), rgba(lighten($primary-color, 10%), 0.9)),
  url(../img/hero-bg-mobile.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;

  @include media-breakpoint-up(md) {
    background-image: url(../img/hero-bg.jpg);
    background-position: center center;

  }
  
  &__container {
    @include make-container();
    @include make-container-width();
  }

  &__row {
    @include make-row();
  }

  &__col-1 {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(10);
      @include make-col-offset(1);
    }
  }

  &__header {
    margin: 10px 0;

    @include media-breakpoint-up(md) {
      font-size: 48px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 60px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 60px;
      font-size: 78px;
    }
  }

  &__subheader {
    margin: 0 0 20px;
    font-size: 20px;

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 46px;
    }
  }

  &__form {
    margin: 60px 0 20px;

    @include media-breakpoint-up(lg) {
      margin: 100px 0 40px;
    }

    @include media-breakpoint-up(xl) {
      margin: 150px 0 130px;
    }
  }
}