@import '../../scss/basic/variables';

.tabs {

  &__list {
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
  }

  &__link {
    display: inline-block;
    padding: 10px 15px;
    color: #ccc;
    text-decoration: none;

    &--active {
      color: #000;
      border-bottom: 2px solid $primary-color;
    }
  }
}