@import '../../scss/basic/variables';

.tabs {

  &__list {
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
  }

  &__link {
    display: inline-block;
    padding: 10px 15px;
    color: #ccc;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &--active {
      color: #000;
      border-bottom: 2px solid $primary-color;
      transition: 0.3s;
    }
  }

  &__content {
    margin-top: 10px;
  }

  &__text {
    height: 0;
    opacity: 0;

    &--active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s;
    }

  }
}
