@import '../../scss/basic/variables';


.popup {
  position: relative;
  background: #fff;
  padding: 30px 10px;
  width: auto;
  max-width: 450px;
  margin: 20px auto;

  &__header {
    font-size: 22px;
    text-align: center;
  }

  &__toltip {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  &__label {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  &__name,
  &__phone {
    display: inline-block;
    width: 75%;
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid #616161;

    &::placeholder {
      font-size: 16px;
      color: #9E9E9E;
    }
  }

  &__btn {
    display: inline-block;
    width: 75%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 22px;
    background: #66BB6A;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    transition: 0.3s ease;

    &:hover {
      background: #43A047;
    }
  }
}




